.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto";
}

.information {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.MuiBox-root {
  width: 80%;
}

.MuiTextField-root {
  width: 100%;
}

.title {
  margin-top: 5%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.textfield {
  max-width: 800px;
  width: 70%;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.MuiFilledInput-input {
  padding-top: 10px  !important ;
  font-size: 20px !important;
}

.error {
  margin-top: 5px;
}

.newlink label {
  font-size: 20px;
  padding-top: 5%;
}

.newlink p {
  font-size: 18px;
  overflow-wrap: anywhere;
}

.newlink a {
  font-size: 18px;
  overflow-wrap: anywhere;
}

.error {
  color: red;
  padding-top: 5px;
}

.information button {
  width: 80%;
  min-height: fit-content;
  min-width: fit-content;
  margin-top: 20px;
  margin-bottom: 20px;
}

.information button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 328px) {
  .information button{
    width: 90%;
  }

  .MuiBox-root {
    width: 90%;
  }
}